# 8. 데이터 선택(iloc)
위치를 이용하여 원하는 row에서 원하는 col 선택

In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

In [ ]:
df.iloc[0] # 0번째 위치의 데이터

In [ ]:
df.iloc[0:5] # 0~4번째 위치의 데이터

In [ ]:
df.iloc[0,1] # 0번째 위치의 1번째[학교] 데이터

In [ ]:
df.iloc[[0,1],1] # 0,1번위치의 1번째[학교] 데이터

In [ ]:
df.iloc[[0,1],[2,4]] # 0,1 번째 위치의 2,4번째 [키 , 영어] 데이터

In [ ]:
df.iloc[0:5,3:8] # 0~4 위치으 ㅣ학생 중에서 , 3~7까지의 데이터 [국어 :사회]